.gallery-wrapper ul, .caption {
  padding-left: 0;
  list-style: none;
}
/* -------------------------------- 

Main Components 

-------------------------------- */
.gallery-wrapper .gallery {
  margin-top: 60px;
}
.gallery-wrapper li a {
  pointer-events: none;
}
.gallery-wrapper li svg:hover use.cover-layer, .gallery-wrapper li svg:hover use.cover-layer-black, .cd-svg-clipped-slider .gallery li.selected use.cover-layer {
  opacity: 0;
}
.gallery-wrapper li.selected a {
  pointer-events: auto;
}
.cd-svg-clipped-slider {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
.cd-svg-clipped-slider .gallery-wrapper,
.cd-svg-clipped-slider .gallery,
.cd-svg-clipped-slider .caption {
  position: relative;
}
.cd-svg-clipped-slider .gallery li {
  /* slider images */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
  /* (100% - width)/2 */
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(75%) scale(0.4);
      -ms-transform: translateX(75%) scale(0.4);
          transform: translateX(75%) scale(0.4);
  cursor: pointer;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.cd-svg-clipped-slider .gallery li.selected {
  /* slide in the center */
  position: relative;
  z-index: 3;
  height: 0;
  padding-bottom: 50%;
  /* width(50%) * image aspect ratio (800/800) */
  opacity: 1;
  -webkit-transform: translateX(0) scale(1.2);
      -ms-transform: translateX(0) scale(1.2);
          transform: translateX(0) scale(1.2);
  cursor: auto;
}
.cd-svg-clipped-slider .caption small {
  display: block;
  font-size: 14px;
}
.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
  /* slides on the left */
  /* .left -> slide visible on the left; .left-hide -> slides hidden on the left */
  -webkit-transform: translateX(-75%) scale(0.4);
      -ms-transform: translateX(-75%) scale(0.4);
          transform: translateX(-75%) scale(0.4);
}
.cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.right {
  /* .right -> slide visible on the right */
  z-index: 2;
  opacity: 1;
  top: -30px;
}
.cd-svg-clipped-slider .svg-wrapper {
  /* using padding Hack to fix bug on IE - svg height not properly calculated */
  height: 0;
  padding-bottom: 113.846%;
  /* image aspect ratio (800/800) * 100 */
}
.cd-svg-clipped-slider svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cd-svg-clipped-slider use.cover-layer {
  /* dark layer visible on lateral slides */
  fill: #000;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: .3;
}
.cd-svg-clipped-slider .gallery li.selected use.cover-layer-black {
  opacity: 1;
}
.cd-svg-clipped-slider .caption {
  margin: -200px auto 0;
  z-index: 10;
  pointer-events: none;
  max-width: 300px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0px 2px 5px #000000;
}
.cd-svg-clipped-slider .caption li {
  /* slide titles */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  padding: 1em 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, -webkit-transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out;
  transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.cd-svg-clipped-slider .caption li.selected {
  /* slide visible in the center */
  z-index: 2;
  position: relative;
  -webkit-transform: translateX(0) translateY(-60px);
      -ms-transform: translateX(0) translateY(-60px);
          transform: translateX(0) translateY(-60px);
  opacity: 1;
}
.cd-svg-clipped-slider .caption li.left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}
.cd-svg-clipped-slider .caption li.selected:after {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #fff;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  content: "\e6ad";
  font-family: 'themify';
  font-size: 36px;
  line-height: 120px;
}
.after-featured {
  margin-top: -100px; 
  z-index: 30;
}
@media only screen and (max-width: 768px) {
  .cd-svg-clipped-slider .caption li.selected:after {
    top: -70px;
    left: 50%;
    width: 75px;
    height: 75px;
    font-size: 24px;
    line-height: 75px;
  }
}
@media only screen and (min-width: 768px) {
  .cd-svg-clipped-slider .caption li {
    font-size: 24px;
  }
}
@media only screen and (max-width: 425px) {
  .cd-svg-clipped-slider .caption li.selected:after {
    display: none; 
  }
  ul.caption {
    font-size: 14px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .cd-svg-clipped-slider .caption {
    margin: -150px auto 0;
  }
  .cd-svg-clipped-slider .caption small {
    font-size: 10px;
  }
  .after-featured {
    margin-top: -60px;
  }
  .cd-svg-clipped-slider .caption li.selected {
    -webkit-transform: translateX(0) translateY(-10px);
      -ms-transform: translateX(0) translateY(-10px);
          transform: translateX(0) translateY(-10px);
  }
  .cd-svg-clipped-slider .navigation a {
    top: 35% !important;
  }
}
@media only screen and (max-width: 320px) {
  ul.caption {
    font-size: 12px;
  }
  .cd-svg-clipped-slider .caption {
    margin: -130px auto 0;
  }
  .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.right {
    top: -10px;
  }
  .cd-svg-clipped-slider .navigation a {
    top: 43% !important;
  }
  .gallery-wrapper .gallery {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-svg-clipped-slider {
    width: 90%;
  }
  .cd-svg-clipped-slider .gallery li {
    left: 30%;
    /* (100% - width)/2 */
    width: 40%;
    -webkit-transform: translateX(80%) scale(0.4);
        -ms-transform: translateX(80%) scale(0.4);
            transform: translateX(80%) scale(0.4);
  }
  .cd-svg-clipped-slider .gallery li.selected {
    padding-bottom: 40%;
    /* width(40%) * image aspect ratio (800/800) */
  }
  .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
    -webkit-transform: translateX(-80%) scale(0.4);
        -ms-transform: translateX(-80%) scale(0.4);
            transform: translateX(-80%) scale(0.4);
  }
}

.cd-svg-clipped-slider .navigation a {
  /* slider arrows */
  position: absolute;
  /* center arrow in the lateral preview */
  /* left = */
  /* 25% (.left left value) */
  /* - 37.5% (.left translateX value converted to container percentage ( 50%(.left width) x 75% (.left translate value) /100) ) */
  /* + 25% ( .left width (50%)/2 ) */
  left: 12.5%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
          transform: translateX(-50%) translateY(-50%) scale(0.7);
  top: 43%;
  z-index: 4;
  pointer-events: none;
  /* replace text with image */
  height: 48px;
  width: 48px;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  background: url(../img/cd-icon-arrows.svg) no-repeat 0 0;
}
.cd-svg-clipped-slider .navigation a.next {
  left: auto;
  right: 12.5%;
  -webkit-transform: translateX(50%) translateY(-50%) scale(0.7);
      -ms-transform: translateX(50%) translateY(-50%) scale(0.7);
          transform: translateX(50%) translateY(-50%) scale(0.7);
  background-position: -48px 0;
}
.no-csspointerevents .cd-svg-clipped-slider .navigation a {
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-svg-clipped-slider .navigation a {
    left: 18%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .cd-svg-clipped-slider .navigation a.next {
    left: auto;
    right: 18%;
    -webkit-transform: translateX(50%) translateY(-50%);
        -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
  }
}

.cd-svg-clipped-slider.prev-hidden .navigation a.prev,
.cd-svg-clipped-slider.next-hidden .navigation a.next {
  /* hide prev/next arrow if first/last slide */
  opacity: 0;
}

.cd-svg-clipped-slider .navigation a.prev.active {
  /* scale up prev arrow on active */
  -webkit-animation: cd-click-prev .3s;
          animation: cd-click-prev .3s;
}

.cd-svg-clipped-slider .navigation a.next.active {
  /* scale up next arrow on active */
  -webkit-animation: cd-click-next .3s;
          animation: cd-click-next .3s;
}

@-webkit-keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@keyframes cd-click-prev {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@-webkit-keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
            transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
            transform: translateX(50%) translateY(-50%) scale(1);
  }
}
@keyframes cd-click-next {
  0% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(0.8);
            transform: translateX(50%) translateY(-50%) scale(0.8);
  }
  100% {
    -webkit-transform: translateX(50%) translateY(-50%) scale(1);
            transform: translateX(50%) translateY(-50%) scale(1);
  }
}
